/*estilos main faq*/
$secondary-color: #FFB0AB;

.main4{
	min-height: 100vh;
}

.main4 .bannerPrincipal{
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;*/
	background-image: url('../media/perro.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 250px;
	
}

.main4 .faqTitulo{
	text-align: center;
	margin: 20px;
	font-size: 40px;
	padding: 10px;
}

.accordion{
	font-size: 20px;
}

.accordion-item{
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	border: none;
}

.accordion-button{
	background-color: $secondary-color;
	font-size: 20px;
	border-radius: 10px;
}

.accordion-button:focus{
	box-shadow: none;
}

.accordion-button:not(.collased){
	color: black;
	background-color: $secondary-color;
}