/*estilos main sobre mi*/
$primary-color: #7693B0;
$secondary-color: #FFB0AB;

.main2{
	min-height: 100vh;
}

.linea2{
	background-color: $secondary-color;
	height: 30px;
}
.sobreMi{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 670px;
}

.sobreMi .content{
	width: 60%;
}

.sobreMi .content{
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
	box-sizing: border-box;
	margin-left:2.5%;
}

.sobreMi .content .tituloSobreMi{
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.sobreMi .image{
	width: 65%;
	height: 100%;
	margin-left:15%;
}

.rosa{
	color: $secondary-color;
	font-weight: bold;
	font-size: 20px;
}

.azul{
	color: $primary-color;
	font-weight: bold;
	font-size: 20px;
}


